html {
	height: 100%;
	font-size: 10px;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--color-1: hsla(170, 71%, 96%, 1);
	--color-1-trans: hsla(170, 71%, 96%, 0.75);
	--color-2: hsla(319, 65%, 55%, 1);
	--color-3: hsla(170, 71%, 92%, 1);
	--color-4: hsla(201, 60%, 60%, 1);
	--color-5: hsla(263, 66%, 27%, 1);
	--color-6: hsla(0, 5%, 12%, 1);
	--color-6-trans: hsla(0, 2%, 20%, 0.5);
}

body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
	background: var(--color-6);
	overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	box-sizing: border-box;
}

.main-header {
	display: flex;
	justify-content: center;
	padding: 5rem 0 2rem 0;
}

.main-content {
	display: flex;
	justify-content: center;
	height: 100%;
}
.main-header-title {
	color: var(--color-1);
}

.audio-player-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: clamp(300px, 80%, 800px);
	height: clamp(15rem, 25rem, 40rem);
	margin-top: 7rem;
	border-radius: 40px;
	background: linear-gradient(to left, var(--color-4), transparent 90%);
	// box-shadow: 6px 1px 5px -5px var(--color-3);
}

.image-container {
	position: relative;
	display: flex;
	justify-content: center;
	flex: 1 1 25rem;
	width: 60%;
	min-width: 20rem;
	max-width: 25rem;
	height: 100%;
	max-height: 25rem;
}

.image-container::after {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	content: "";
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: var(--color-6);
}

.cover-image {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 50%;
	animation: rotate 8s linear infinite;
	animation-play-state: paused;
}

.music-container.play .cover-image {
	animation-play-state: play;
}

.info-controls-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	flex: 1 1 auto;
	width: 40%;
	height: 100%;
	border-radius: 40px;
}

.music-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 3%;
	text-align: center;
	font-size: 4rem;
	color: var(--color-1);
	animation: fadeIn 0.3s linear forwards;
	transition: all 0.3s ease-in-out;
}

.music-artist {
	font-size: 0.5em;
	font-weight: 400;
	color: var(--color-1-trans);
}

.music-album {
	margin-top: 0.5rem;
	font-size: 0.4em;
	font-style: italic;
	color: var(--color-1-trans);
}

.controls-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 1rem;
}

.music-nav-button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 40px;
	min-height: 40px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: transparent;
	margin: 1rem;
	border: none;
	transition: all 0.3s ease-in-out;
}

.music-nav-button img {
	max-width: 100%;
	max-height: 100%;
}

.music-nav-button:hover {
	opacity: 0.8;
}

.music-nav-button:focus {
	box-shadow: 0px 0px 0px 0px var(--color-2);
}

#play-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	padding: 0 0 0 5px;
	border-radius: 50%;
	background: var(--color-5);
}

#play-button:hover {
	transform: scale(1.1);
}

#play-button-image {
	width: 30px;
	height: 30px;
}

#previous-button:hover {
	transform: translateX(-5%);
}

#next-button:hover {
	transform: translateX(5%);
}

.progress-bar-container {
	background: var(--color-1);
	border-radius: 5px;
	cursor: pointer;
	margin: 0 0 1rem 0;
	height: 4px;
	width: 80%;
}

.progress-bar {
	background-color: var(--color-2);
	border-radius: 5px;
	height: 100%;
	width: 0%;
	transition: all 0.1s linear;
}

@media screen and (max-width: 768px) {
	.audio-player-container {
		width: 95%;
	}
	.music-info {
		font-size: 3rem;
	}
	.music-title {
		margin-bottom: 0.5rem;
	}
}
@media screen and (max-width: 480px) {
	.audio-player-container {
		justify-content: center;
		align-items: flex-start;
		height: 70%;
		min-height: 400px;
		padding: 1rem;
		background: linear-gradient(to top, var(--color-4), transparent);
	}

	.info-controls-container {
		height: auto;
		box-shadow: none;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
